<!DOCTYPE html>
<html>

<style>
	.asset {
		border: 6px solid lightgray;
	}

	.loader {
		display: none;
		border: 4px solid #f3f3f3;
		border-top: 4px solid #3498db;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		animation: spin 2s linear infinite;
		/* Safari */
		-webkit-animation: spin 2s linear infinite;
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}
</style>

<head>
	<title>🥳</title>
	<script>
		function send() {
			const user_input = {
				image_style: document.getElementById("image_style").value,
				image_type: document.getElementById("image_type").value,
			};

			document.getElementById("generated_assets").style.display = "none";
			document.getElementById("generated_assets").replaceChildren();
			document.getElementById("spinner").style.display = "block";

			fetch("/generate", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify(user_input),
			})
				.then(response => response.json())
				.then(array => {
					array.forEach(element => {
						var img = document.createElement("img");
						img.src = element;
						img.className = "asset"
						document.getElementById("generated_assets").appendChild(img);
					});
					document.getElementById("spinner").style.display = "none";
					document.getElementById("generated_assets").style.display = "block";
		});
		}
	</script>
</head>

<body>
	<h1>POST things to API 🥳</h1>

	<input type="text" id="image_type" placeholder="Image Type" />
	<input type="text" id="image_style" placeholder="Image Style" />
	<button onclick="send()">Send</button>
	<div>
		<div class="loader" id="spinner"></div>
		<div id="generated_assets"></div>
	</div>
</body>

</html>